body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  max-width: 1300px;
  background-color: lightgray;
  .ular-mabok-board {
    .leaderboard-avatar {
      height: "20px";
    }
    width: 800px;
    .ular-mabok-box {
      height: 100px !important;
      border: black solid 0.5px;
    }
  }
  .ular-mabok {
    padding: 10px;
    .delete-button {
      font-size: 10px;
      height: 12px;
      width: 12px;
    }
    .delete-button:hover {
      cursor: pointer;
    }
    .top-bar {
      display: flex;
      .ular-mabok-logo {
        height: 55px;
        width: 55px;
        margin: 15px;
      }
      .ular-mabok-input {
        width: 100%;
        margin-right: 0px;
        height: 70px;
      }
    }
    .ular-mabok-button-container {
      margin-top: 15px;
      padding-right: 10px;
      .ular-mabok-button {
        height: 57px;
        padding: 10px;
        width: 100%;
      }
    }
  }
  .dice-roll {
    width: 100%;
    border-radius: 20px;
    background-color: #c3f1f7;
    margin-top: 15px;
    .title {
      text-align: center;
      margin-top: 20px;
      font-size: 40px;
    }
  }
}
