body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  max-width: 1300px;
  background-color: lightgray;
  .ular-mabok-board {
    background-image: url("./static/board.svg");
    overflow: hidden;
    background-size: 814px 800px;
    .leaderboard-avatar {
      height: "20px";
    }
    width: 800px;
    height: 800px;
    .ular-mabok-box {
      height: 100px !important;
      border: black solid 0.5px;
    }
  }
  .ular-mabok {
    padding: 10px;
    .delete-button {
      font-size: 10px;
      height: 12px;
      width: 12px;
    }
    .delete-button:hover {
      cursor: pointer;
    }
    .top-bar {
      display: flex;
      .ular-mabok-logo {
        height: 55px;
        width: 55px;
        margin: 15px;
      }
      .ular-mabok-input {
        width: 100%;
        margin-right: 0px;
        height: 70px;
      }
    }
    .ular-mabok-button-container {
      margin-top: 15px;
      padding-right: 10px;
      .ular-mabok-button {
        height: 57px;
        padding: 10px;
        width: 100%;
      }
    }
  }
  .sidebar {
    display: block;
    .dice-roll {
      width: 90%;
      border-radius: 20px;
      background-color: #c3f1f7;
      margin-top: 15px;
      height: 250px;
      .title {
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
      }
      .dices {
        width: 100px;
      }
    }
    .leaderboard {
      background-color: #c3f1f7;
      border-radius: 20px;
      margin-top: 15px;
      height: 100%;
      .subheader {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
        color: black;
      }
    }
  }
  .prompt {
    // background-color: #1390a0;
    background-color: black;
    color: white;
    margin-top: 35px;
    width: 90%;
    .number {
      padding: 40px 20px 10px 20px;
    }
    .content {
      padding: 20px 10% 40px 10%;
      width: 80%;
    }
  }
}

.ular-mabok-popover {
  .MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20% !important;
    left: 20%;
    padding: 30px;
  }
  .number {
    font-size: 60px;
  }
  .text {
    font-size: 40px;
  }
}
